h1{
    margin-top: 15px;
    margin-bottom: 0px;
}
h2{
    margin-top: 15px;
    margin-bottom: 0px;
}
h3{
    margin-top: 10px;
    margin-bottom: 0px;
}
p{
    margin-top: 1px;
    margin-bottom: 1px;
    white-space: pre-line;
}
ul{
    margin-top: 1px;
    margin-bottom: 1px;
}
